doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="https://unpkg.com/mvp.css")
		title video chat app
	body
		header
			h1 Video Chat
		main
			div#name
			div#nickname
				form
					input(placeholder = "닉네임 설정", required, type="text")
					button Save
			
			div#rooms(style="display: none")
				form#room
					input(placeholder = "방 이름", required, type="text")
					button Enter Room
			
			div#chat(style="display: none")
				h3 
				h5#members
				ul
				form
					input(placeholder="메세지를 입력", required, type="text")
					button Send
			
			h4 Open Rooms
			div#roomList
			
		script(src="/socket.io/socket.io.js")
		script(src="/public/js/app.js")