doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="https://unpkg.com/mvp.css")
		title video chat app
	body
		header
			h1 Video Chat
		main
			h3#nick
			div#roomInfo
				form
					input(placeholder="방 이름", required, type="text")
					button 입장
			
			div#chat
				h4#roomName
				h5#members
			
				div#Stream
					div#myStream
						video#myFace(autoplay, playsinline, height="30%", width="30%")
					button#myAud.mute 음소거
					button#myCam.camera 카메라 끔
					button#camDir 후면 캠
			
		script(src="/socket.io/socket.io.js")
		script(src="/public/js/app.js")